absl-py==2.0.0
agate==1.9.0
agate-dbf==0.2.2
agate-excel==0.2.5
agate-sql==0.7.0
aiodns==3.1.1
aiofiles==0.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.15
aiolimiter==1.1.0
aiosignal==1.3.1
altair==5.5.0
annotated-types==0.6.0
anyascii==0.3.2
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
Automat==20.2.0
Babel==2.13.0
bangla==0.0.2
bcrypt==3.2.0
beautifulsoup4==4.12.3
beniget==0.4.1
bleach==6.2.0
blinker==1.7.0
blis==0.7.11
blurhash==1.1.4
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
bokeh==3.8.0
bottle==0.12.19
Brotli==1.0.9
cachetools==5.3.2
cassandra-driver==3.28.0
catalogue==2.0.10
cepces==0.3.7
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.2.0
chrome-gnome-shell==0.0.0
click==8.1.7
click-help-colors==0.9.4
clipboard==0.0.4
cloudpathlib==0.16.0
colorama==0.4.4
colorcet==3.1.0
colorlog==6.6.0
comm==0.2.2
command-not-found==0.3
confection==0.1.4
constantly==15.1.0
contourpy==1.2.0
coqpit==0.0.17
cqlsh==6.1.2
cryptography==42.0.5
csvkit==1.3.0
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.8
Cython==3.0.6
dacite==1.8.1
dateparser==1.1.8
dbfread==2.0.7
dbus-python==1.2.18
debugpy==1.8.13
decorator==5.1.1
deezer-py==1.3.6
defer==1.0.6
defusedxml==0.8.0rc2
deluge==2.0.3
Deprecated==1.2.15
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==1.3.0
Django==5.0.4
django-all-in-one-accessibility==2.0.1
django-appconf==1.0.5
django-crispy-forms==2.0
django-email-users==1.1.0
django-model-utils==4.3.1
django-on-heroku==1.1.2
django-radiogrid==1.1.0
django-simple-cookie-consent==0.1.1
dnspython==2.1.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
dotenv-cli==2.2.0
duckdb==1.0.0
duplicity==0.8.21
einops==0.7.0
encodec==0.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.2.0
fastapi==0.103.2
fasteners==0.14.1
fastjsonschema==2.21.1
filelock==3.13.1
Flask==3.0.0
fonttools==4.29.1
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.4.0
fs==2.4.12
fsspec==2023.10.0
future==0.18.2
g2pkk==0.1.2
gast==0.5.2
GeoIP==1.3.2
geomet==0.2.1.post1
gevent==21.8.0
Glances==3.2.4.2
google-auth==2.23.4
google-auth-oauthlib==1.1.0
gpg==1.16.0
greenlet==3.0.0
grpcio==1.59.3
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gssapi==1.6.12
guake==3.8.5
gunicorn==20.1.0
h11==0.14.0
hangul-romanize==0.1.0
harlequin==1.1.0
holoviews==1.21.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.19.4
hvplot==0.12.1
hyperlink==21.0.0
idna==3.10
importlib-metadata==6.8.0
incremental==21.3.0
inflect==7.0.0
influxdb==5.3.2
influxdb-client==1.49.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.34.0
ipywidgets==8.1.5
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jaconv==0.4.0
jamo==0.4.1
JayDeBeApi==1.2.3
jedi==0.19.2
jeepney==0.7.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jpype1==1.5.2
json5==0.10.0
jsonlines==1.2.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_fonts==3.0.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kafka-python==2.0.2
keyring==23.5.0
kiwisolver==1.3.2
langcodes==3.3.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
leather==0.3.4
leia==0.1.0
lfm==3.1
librosa==0.10.0
libtorrent==2.0.11
linkify-it-py==2.0.2
llvmlite==0.41.1
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
m3u8==0.9.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
Mastodon.py==1.8.0
matplotlib==3.8.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.0
mdurl==0.1.2
MechanicalSoup==1.2.0
mechanize==0.4.7
meson==0.61.2
mistune==3.1.3
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.1.0
multidict==6.0.4
murmurhash==1.0.10
music-dl==0.2.1
mutagen==1.47.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.32
mysqlclient==2.1.1
narwhals==2.5.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==2.8.8
nltk==3.8.1
notebook==7.3.3
notebook_shim==0.2.4
num2words==0.5.13
numba==0.58.1
numpy==1.22.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
openpyxl==3.1.2
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.1
panel==1.8.0
param==2.2.1
paramiko==2.9.3
parquet==1.3.1
parsedatetime==2.6
parso==0.8.4
pathlib==1.0.1
pathvalidate==2.5.2
pbr==5.8.0
pexpect==4.8.0
pika==1.3.2
Pillow==9.0.1
pipreqs==0.4.11
platformdirs==4.3.6
plotly==6.3.0
pluggy==1.4.0
ply==3.11
pooch==1.8.0
preshed==3.0.9
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==3.20.3
psutil==5.9.0
psycopg2==2.9.9
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycares==4.4.0
pycparser==2.22
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.1.2
Pygments==2.16.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyHoca-CLI==0.6.1.2
PyJWT==2.8.0
pykakasi==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynndescent==0.5.11
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pypinyin==0.49.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
pysbd==0.3.4
pysmbc==1.0.23
pysmi==0.3.2
pysnmp==4.4.12
pystache==0.6.0
pytest==8.0.1
pytest-asyncio==0.21.1
pytest-mock==3.12.0
python-apt==2.4.0+ubuntu4
python-crfsuite==0.9.9
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-json-logger==3.3.0
python-magic==0.4.27
python-slugify==8.0.4
python-xlib==0.29
python3-openid==3.2.0
pythran==0.10.0
pytimeparse==1.1.8
pytube==15.0.0
pytz==2025.2
pyviz_comms==3.0.6
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0.1
pyzmq==26.3.0
qrtools==2.1
RapidFuzz==3.11.0
reactivex==4.0.4
redis==5.2.1
referencing==0.36.2
regex==2023.10.3
rencode==1.0.6
reportlab==3.6.8
requests==2.32.3
requests-file==2.0.0
requests-gssapi==1.2.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.24.0
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.3
service-identity==18.1.0
setproctitle==1.2.2
shandy-sqlfmt==0.20.0
shredder==0.6
simple-term-menu==1.6.4
simplejson==3.17.6
six==1.17.0
smart-open==6.4.0
sniffio==1.3.1
social-auth-app-django==5.4.0
social-auth-core==4.5.3
soundcloud-v2==1.6.0
soundfile==0.12.1
soupsieve==2.3.1
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speedtest-cli==2.1.3
spotdl==4.2.10
spotipy==2.24.0
SQLAlchemy==2.0.22
sqlparse==0.4.3
srsly==2.4.8
srt==3.5.3
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.27.0
streamrip==2.0.5
SudachiDict-core==20230927
SudachiPy==0.6.7
sympy==1.9
syncedlyrics==1.0.1
systemd-python==234
tensorboard==2.15.1
tensorboard-data-server==0.7.2
terminado==0.18.1
text-unidecode==1.3
texttable==1.6.4
textual==0.38.1
textual-fastdatatable==0.1.2
textual-textarea==0.7.1
thinc==8.2.1
threadpoolctl==3.2.0
thriftpy2==0.4.17
tinycss2==1.4.0
tldextract==5.1.1
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.7.2
torch==2.1.1
torchaudio==2.1.1
tornado==6.4.2
tqdm==4.66.1
trainer==0.0.32
traitlets==5.14.3
transformers==4.35.2
translatte==0.1
tree-sitter==0.20.2
tree-sitter-languages==1.7.0
triton==2.1.0
TTS==0.21.1
Twisted==22.1.0
typer==0.9.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.2
ufoLib2==0.13.1
ufw==0.36.1
umap-learn==0.5.5
unattended-upgrades==0.1
unicodedata2==14.0.0
Unidecode==1.3.7
uri-template==1.3.0
urllib3==2.0.4
uvicorn==0.23.2
vader-multi==3.2.2.1
vaderSentiment==3.3.2
var-dump==1.2
vosk==0.3.45
wadllib==1.3.6
wasabi==1.1.2
watchfiles==1.1.0
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.0.1
whitenoise==6.4.0
widgetsnbextension==4.0.13
wrapt==1.17.0
x2go==0.6.1.3
xdg==5
xkit==0.0.0
xlrd==2.0.1
xlsx2csv==0.8.1
xmltodict==0.14.2
xyzservices==2025.4.0
yarg==0.1.9
yarl==1.18.3
youtube-dl==2021.12.17
yt-dlp==2024.12.13
ytmusicapi==1.9.0
zipp==1.0.0
zope.event==4.4
zope.interface==5.4.0
